#head {
  display: flex;
  justify-content: flex-start;
}

body {
   
}
.logo {

  width:122px;
  height:108px;
  margin-top: 24px;
  margin-left: 70px;
  
}

.contact {
  width: 279px;
  height: 108px;
  margin-top: 24px;
  margin-left: 23px;
  background-color: #777777;
}

.more {
  width: 513px;
  height: 108px;
  margin-top: 24px;
  margin-left: 23px;
  background-color: #777777;
}

#Content {
  display: flex;
  justify-content: flex-start;
  box-sizing:content-box;
}

.left {
  width: 184px;
  height: 335px;
  margin-top: 42px;
  margin-left: 70px;
  background-color: #777777;
}

.text {
  width: 757px;
  height: 210px;
  margin-top: 42px;
  margin-left: 20px;
  background-color: #dcdcdc;
}

.text2 {
 
}




