#head {
  display: flex;
  justify-content: flex-start;
}

body {
   
}
.logo {

  width:122px;
  height:108px;
  margin-top: 24px;
  margin-left: 70px;
  
}

.contact {
  width: 279px;
  height: 108px;
  margin-top: 24px;
  margin-left: 23px;
  background-color: #777777;
}

.more {
  width: 513px;
  height: 108px;
  margin-top: 24px;
  margin-left: 23px;
  background-color: #777777;
}

#left-menu {
  display: flex;
  justify-content: flex-start;
  max-width: 270px;
  flex-direction:column;
  
}

.left {
  width: 184px;
  height: 335px;
  margin-top: 42px;
  margin-left: 70px;
  background-color: #777777;
}

.green {
  width: 184px;
  height: 134px;
  margin-top: 304px;
  margin-left: 70px;
  background-color: #777777;
}

#center {
  display: flex;
  justify-content: space-between;
  align-content:center;
}

.text {
  width: 757px;
  height: 210px;
  margin-top: 42px;
  margin-left: 20px;
  background-color: #dcdcdc;
}





